<p id="notice"><%= notice %></p>
<blockquote class="blockquote text-center">
</blockquote>

<div class="container">
  <div class="row">
    <% @projects.each do |project| %>
    <div class="col-sm-3">
      <div class="project">
        <h4><%= link_to project.name, project %></h4>
        <h6><%= project.description %></h6>
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
     </div>
    </div>
    <% end %>
    <div class="col-sm-3">
      <div class="project">
        <h4><%= link_to 'New Project', new_project_path %></h4>
        <h6>Create a new project</h6>
      </div>
    </div>
  </div>
</div>
<br>
